<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="child">
<head>
<meta charset="utf-8"/>
<title>Editer Carnet des BVs</title>

</head>

<body>



<div class="container-fluid"  layout:fragment="child">
    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Erreur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
            </div>
        </div>
    </div>
    <div class="card bg-white">
        <div class="card-header card-color">
            <p class="h2 text-center text-uppercase font-weight-bold pt-2">Editer carnet de bordereau de virement</p>
        </div>
         <div class="card-body container-fluid mb-5">
         
         
<form th:action="@{/carnetbordereauvirements/Savecarnetbordereauvirement}" method="post" th:object="${carnetbordereauvirement}">
<div class="row">
<div class="col-sm-6 mb-2">
<label class="control-label">NCBV:</label>
<input type="text" th:field="*{numCBV}" class="form-control" readonly="readonly"/>
</div>
</div>
<div class="row">
<div class="col-sm-6 mb-2">
<label class="control-label">Numero du client:</label>
<input type="text" th:field="*{numCli}" class="form-control" readonly="readonly"/>
</div>
</div>
<div class="row">
<div class="col-sm-6 mb-2">
<label class="control-label">Choisissez le nombre de bordereau de virement:</label>
<select name="typecli" id="cli" th:field="*{nbreBV}" class="form-control">
    <option value="25">25</option>
     <option value="50">50</option>
</select>
</div>
</div>
 <div>
   <button type="submit" class="btn btn-outline-success mt-3 mb-3">Ajouter</button>
</div>
</form>
                
</div>
        
    </div>
</div>
<script type="text/javascript">

</script>

 </body>
 </html>
		

