<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des comptes</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<div class="container spacer">
<a th:href="@{/gestionUser}" type="button" class="btn btn-warning">Gestion des utilisateur</a>
</div>
<body>
<div class="container spacer">
<table class="table table-striped">
<thead>
<tr><th>ID</th><th>CODEEMP</th><th>EMAIL</th><th>NOM</th><th>PRENOM</th><th>USERNAME</th><th>ROLE_ID</th><th>ACTIONS</th></tr>
</thead>
<tbody>
<tr th:each="u:${users}">
<td th:text="${u.id}"></td><td th:text="${u.codeEmp}"></td>
<td th:text="${u.email}"></td><td th:text="${u.firstName}"></td><td th:text="${u.lastName}"></td>
<td th:text="${u.username}"></td><td th:text="${u.role}"></td>
<td><a type="button" class="btn btn-success" th:href="@{'/users/edit/'+${u.id}}">Editer</a>
<a type="button" class="btn btn-danger" th:href="@{'/users/delete/'+${u.id}}">Supprimer</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>